.site-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: calc(0.5 * var(--padding));
  font-size: var(--fontSizeLarge);
  position: sticky;
  top: var(--siteTop, 0px);
  z-index: 1;
}
.site-branding {
  margin: 0;
  padding: 0 calc(0.5 * var(--padding));
}
.site-title {
  padding: 0;
  margin: 0;
}
.site-title-icon {
  display: flex;
  padding: 1.5rem 0 5rem;
}
.site-title-icon-dot {
  --duration: 4s;
  --durationDelayOne: 0.125s;
  --durationDelayTwo: 0.25s;
  width: 6px;
  height: 6px;
  background: var(--colorText);
  display: block;
  margin: 0 6px 0 0;
  //animation-name: ellipsisWiggle;
  //animation-duration: var(--duration);
  //animation-iteration-count: infinite;
  animation: ellipsisWiggle var(--duration) ease-in-out infinite;
  &.site-title-icon-dot--one {
    animation-delay: 0s;
  }
  &.site-title-icon-dot--two {
    animation-delay: var(--durationDelayOne);
  }
  &.site-title-icon-dot--three {
    animation-delay: var(--durationDelayTwo);
    margin-right: 0;
  }
}
.site-title {
  a:hover,
  a:focus {
    .site-title-icon-dot {
      background: var(--colorLinkHover);
      //transform: translate3d(0, -6px, 0);
      //animation: none;
    }
  }
}

@keyframes ellipsisWiggle {
  0%,
  40%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, -6px, 0);
  }
  30% {
    transform: translate3d(0, -6px, 0);
  }
}

.site-navigation {
  .site-navigation-desktop {
    --fontSizeNav: calc(1.3636 * var(--fontSize));
    display: none;
    position: fixed;
    font-size: var(--fontSizeNav);
    line-height: 1;
    z-index: 2;
    a {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      span {
        display: block;
        margin: auto;
      }
    }
    @media screen and (min-width: 48.75rem) {
      display: block;
    }
    .sep {
      padding-left: 0.25em;
      padding-right: 0.25em;
    }
  }

  .site-navigation-desktop--is-active {
    a {
      color: var(--colorLinkHover);
    }
  }
  .site-navigation-top {
    top: calc(var(--siteTop) + 1rem);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  .site-navigation-left {
    top: 50%;
    top: calc(50% - calc(0.5 * var(--fontSizeNav)));
    left: 1rem;
    //transform: translate3d(var(--fontSizeNav), -100%, 0) rotate(90deg);
    transform: translate3d(calc(-50% + (0.5 * var(--fontSizeNav))), 0, 0)
      rotate(90deg);
    height: var(--fontSizeNav);
    //transform-origin: left top;
    transform-origin: center center;
  }
  .site-navigation-right {
    top: 50%;
    top: calc(50% - calc(0.5 * var(--fontSizeNav)));
    right: 1rem;
    //transform: translate3d(calc(-1 * var(--fontSizeNav)), 100%, 0) rotate(90deg);
    transform: translate3d(calc(50% + (-0.5 * var(--fontSizeNav))), 0, 0)
      rotate(90deg);
    //transform: translate3d(0, 0, 0) rotate(90deg);
    height: var(--fontSizeNav);
    //transform-origin: right bottom;
    transform-origin: center center;
  }
  #mobile-menu {
    @media screen and (min-width: 48.75rem) {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    position: relative;
    padding: 0 calc(0.5 * var(--padding));
  }

  a {
    display: block;
    text-decoration: underline;
    color: var(--black);
    &:hover,
    &:focus {
      color: var(--orange);
      text-decoration: none;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    color: var(--colorLinkHover);
  }
}

/* Small menu. */
.menu-toggle {
  display: none;
}
/*
  .menu-toggle,
  .main-navigation.toggled ul {
      display: block;
  }
  
  @media screen and (min-width: 37.5em) {
  
      .menu-toggle {
          display: none;
      }
  
      .main-navigation ul {
          display: flex;
      }
  }
  */
