body {
  --white: #fff;
  --black: #000000;
  --lightBlack: #282828;
  --grey: #e4e4e4;
  --lightGrey: #f5f5f5;
  --midGrey: #ababab;
  --darkGrey: #505050;
  --blue: #0f67e1;

  --green: #45d944;
  --orange: #fc7713;
  --warmGrey: #dfdbdc;

  --colorText: var(--black);
  --colorTextSecondary: var(--darkGrey);
  --colorLink: var(--blue);
  --colorLinkHover: var(--orange);
  --colorButtonText: var(--white);
  --colorButtonTextHover: var(--lightGrey);
  --colorButtonBackground: var(--blue);
  --colorButtonBackgroundHover: var(--lightBlack);
  --siteBackground: var(--warmGrey);
  --homeColorText: var(--green);

  --colorTextInput: var(--darkGrey);
  --colorBorderInput: var(--midGrey);
  --colorTextInputFocus: var(--lightBlack);

  --siteTop: 0px;
  --headerHeight: 0;
  --accessBarHeight: 0;
  --fontSize: 1rem; //16px
  --fontSizeH1: calc(1.802 * var(--fontSize));
  --fontSizeH2: calc(1.375 * var(--fontSize));
  --fontSizeH3: calc(1.3 * var(--fontSize));
  --fontSizeH4: calc(1.266 * var(--fontSize));
  --fontSizeH5: calc(1.125 * var(--fontSize));
  --fontSizeSmall: calc(0.8 * var(--fontSize));
  --fontSizeLarge: calc(1.375 * var(--fontSize));
  --lineHeight: 1.3;
  --lineHeightHeading: 1.3;
  //--padding: 0.9375rem; //15px
  --padding: 1rem; //16px
  --fontSans: "NimbusSanL", "Helvetica", "Helvetica Neue", "Arial",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  --fontHeading: "NimbusSanL", "Helvetica", "Helvetica Neue", "Arial",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  --fontMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  @media screen and (min-width: 48.75rem) {
    //--fontSize: 1.1875rem; //19px
    //--padding: 1.1875rem; //19px
    --fontSize: 1.375rem; //22px
  }
}

body.admin-bar {
  --siteTop: 0px;
  @media screen and (min-width: 600px) {
    --siteTop: 46px;
  }
  @media screen and (min-width: 783px) {
    --siteTop: 32px;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--siteBackground);
}
