button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  border: 1px solid;
  border-color: var(--colorButtonBackground);
  border-radius: 2px;
  background: var(--colorButtonBackground);
  color: var(--colorButtonText);
  font-size: var(--fontSize);
  line-height: 1;
  padding: calc(0.5 * var(--padding)) var(--padding);
  cursor: pointer;
  &:hover {
    border-color: var(--colorButtonBackgroundHover);
    background: var(--colorButtonBackgroundHover);
    color: var(--colorButtonTextHover);
  }
  &:active,
  &:focus {
    border-color: var(--colorButtonBackgroundHover);
    background: var(--colorButtonBackgroundHover);
    color: var(--colorButtonTextHover);
  }
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

.text-button {
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--colorLink);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  padding: 0;
  text-decoration: underline;
  &:hover {
    border-color: currentColor;
    background: transparent;
    color: var(--colorLinkHover);
  }
  &:active,
  &:focus {
    border-color: currentColor;
    background: transparent;
    color: var(--colorLinkHover);
  }
}
