@font-face {
  font-family: "NimbusSanL";
  src: url("assets/fonts/NimbusSanL-Reg-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NimbusSanL";
  src: url("assets/fonts/NimbusSanL-RegIta-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "NimbusSanL";
  src: url("assets/fonts/NimbusSanL-Bol-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NimbusSanL";
  src: url("assets/fonts/NimbusSanL-BolIta-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
